.aboutmepage {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0c192c;
  position: relative;
  z-index: 1;

  .aboutme-box {
    .timeline {
      position: relative;
      max-width: 1200px;
      margin: 100px auto;

      .container {
        padding: 10px 50px;
        position: relative;
        width: 50%;
        animation: movedown 1s linear forwards;
        opacity: 0;

        img {
          position: absolute;
          width: 40px;
          border-radius: 50%;
          right: -20px;
          top: 32px;
          z-index: 10;
        }
        .text-box {
          padding: 20px 30px;
          background-color: #fff;
          position: relative;
          border-radius: 10px;
          font-size: 15px;
          h2 {
            font-weight: 500;
          }
          small {
            display: inline-block;
            margin-bottom: 15px;
          }
          .left-container-arrow {
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-left: 15px solid white;
            right: -15px;
          }
          .right-container-arrow {
            height: 0;
            width: 0;
            position: absolute;
            top: 28px;
            z-index: 1;
            border-top: 15px solid transparent;
            border-bottom: 15px solid transparent;
            border-right: 15px solid white;
            left: -15px;
          }
        }
      }
      .container:nth-child(1) {
        animation-delay: 0s;
      }
      .container:nth-child(2) {
        animation-delay: 1s;
      }
      .container:nth-child(3) {
        animation-delay: 2s;
      }
      .container:nth-child(4) {
        animation-delay: 3s;
      }
      .container:nth-child(5) {
        animation-delay: 4s;
      }
      .container:nth-child(6) {
        animation-delay: 5s;
      }

      .left-container {
        left: 0;
      }
      .right-container {
        left: 50%;
        img {
          left: -20px;
        }
      }
    }

    .timeline::after {
      content: "";
      position: absolute;
      width: 6px;
      height: 100%;
      background-color: white;
      top: 0;
      left: 50%;
      margin-left: -3px;
      z-index: -1;
      animation: moveline 6s linear forwards;
    }
  }

  .aboutme-bg {
    position: absolute;
    top: 0;
    width: 100%;
    min-height: 100vh;
    z-index: -1;
    .bubbles-box {
      position: relative;
      width: 100%;
      height: 100vh;
      overflow: hidden;
      .bubbles {
        position: relative;
        display: flex;
        width: 100%;
        justify-content: center;
        span {
          position: relative;
          width: 30px;
          height: 30px;
          background-color: #4fc3dc;
          margin: 0 4px;
          border-radius: 50%;
          box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
          animation: rainup 15s linear infinite;
          animation-duration: calc(125s / var(--i));
        }
        span:nth-child(even) {
          background-color: #ff2d75;
          box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
        }
      }
    }
  }
}

@keyframes rainup {
  0% {
    transform: translateY(100vh) scale(0);
  }
  100% {
    transform: translateY(-10vh) scale(1);
  }
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}

@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@media screen and (max-width: 1800px) {
  .timeline {
    transform: translateX(25%) !important;
    .container {
      width: 50% !important;
      padding-left: 80px !important;
      padding-right: 25px !important;
    }
    .right-container {
      left: 0 !important;
      img {
        left: 10px !important;
      }
      .right-container-arrow {
        border-right: 15px solid white !important;
        border-left: 0 !important;
        left: -15px !important;
      }
    }
    .left-container {
      img {
        left: 10px !important;
      }
      .left-container-arrow {
        border-right: 15px solid white !important;
        border-left: 0 !important;
        left: -15px !important;
      }
    }
  }
  .timeline::after {
    left: 31px !important;
  }
}
