.homepage-bg {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20rem;
  background-color: rgb(33, 18, 75);
  .homepage {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    flex-wrap: wrap;
    width: 1600px;
    .homepage-left {
      width: 600px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      position: relative;
      z-index: 1;

      h2 {
        color: white;
      }
      h1 {
        color: aqua;
        font-size: 3rem;
      }
      h3 {
        color: white;
      }
      p {
        color: white;
      }
      .socialImg {
        display: flex;
        gap: 3rem;
        img {
          height: 40px;
          background-color: white;
          padding: 3px;
          border-radius: 50%;
          cursor: pointer;
          transition: 0.5s;
        }
        img:hover {
          background-color: aqua;
          box-shadow: 0 0 1rem aqua;
          transform: scale(1.1);
        }
      }
      button {
        font-size: 2rem;
        padding: 1rem 5rem;
        width: 400px;
        cursor: pointer;
        background-color: transparent;
        position: relative;
        margin-top: 1rem;
        color: #4598e0;
        border: none;
        transition: 0.2s;
        overflow: hidden;
        span {
          position: absolute;
          display: block;
        }
        span:nth-child(1) {
          top: 0;
          left: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(90deg, transparent, #4598e0);
        }
        span:nth-child(2) {
          top: -100%;
          right: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(180deg, transparent, #4598e0);
        }
        span:nth-child(3) {
          bottom: 0;
          right: -100%;
          width: 100%;
          height: 2px;
          background: linear-gradient(270deg, transparent, #4598e0);
        }
        span:nth-child(4) {
          bottom: -100%;
          left: 0;
          width: 2px;
          height: 100%;
          background: linear-gradient(360deg, transparent, #4598e0);
        }
      }
      button:hover {
        color: rgb(33, 18, 75);
        background-color: #4598e0;
        box-shadow: 0 0 10px #4598e0, 0 0 40px #4598e0, 0 0 80px #4598e0;
        transition-delay: 1s;
      }
      button:hover span:nth-child(1) {
        left: 100%;
        transition: 1s;
      }
      button:hover span:nth-child(2) {
        top: 100%;
        transition: 1s;
        transition-delay: 0.25s;
      }
      button:hover span:nth-child(3) {
        right: 100%;
        transition: 1s;
        transition-delay: 0.5s;
      }
      button:hover span:nth-child(4) {
        bottom: 100%;
        transition: 1s;
        transition-delay: 0.75s;
      }

      .blob {
        position: absolute;
        bottom: -200px;
        right: -170px;
        width: 1000px;
        height: 1000px;

        z-index: -1;
      }
    }
    .homepage-right {
      position: relative;

      .cube-box {
        position: relative;
        top: -80px;
        transform: skewY(-20deg);
        animation: colorChange 5s linear infinite;
        .cube {
          z-index: 2;
          position: relative;
          .cube-block {
            position: absolute;
            display: flex;
            flex-direction: column;
            gap: 30px;

            span {
              position: relative;
              display: inline-block;
              width: 50px;
              height: 50px;
              background-color: #dcdcdc;
              transition: 1.5s;
            }
            span:hover {
              transition: 0s;
              background: #ef4149;
              filter: drop-shadow(0 0 30px #ef4149);
            }
            span::before {
              content: "";
              position: absolute;
              left: -40px;
              width: 40px;
              height: 100%;
              background: #fff;
              transform-origin: right;
              transform: skewY(45deg);
              transition: 1.5s;
            }
            span::after {
              content: "";
              position: absolute;
              top: -40px;
              left: 0;
              width: 100%;
              height: 40px;
              background: #f2f2f2;
              transform-origin: bottom;
              transform: skewX(45deg);
              transition: 1.5s;
            }
            span:hover::before {
              transition: 0s;
              background: #f75d64;
            }
            span:hover::after {
              transition: 0s;
              background: #f75d64;
            }
          }
          .block-1 {
            z-index: -1;
          }
          .block-2 {
            translate: -70px 0px;
          }
          .block-3 {
            translate: -140px 0px;
          }
        }
        .cube-1 {
          z-index: 2;
        }
        .cube-2 {
          z-index: 1;
          translate: -60px -60px;
        }
        .cube-3 {
          z-index: 3;
          translate: 60px 60px;
        }
      }
    }
  }
}

@keyframes colorChange {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}
