.navibar {
  position: fixed;
  width: 100%;
  z-index: 90;

  .navibar-left {
    min-height: 100vh;
    width: 21rem;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    position: absolute;
    gap: 5rem;
    margin-top: 5rem;
    .avatarImg {
      height: 10rem;
      width: 10rem;
      border-radius: 5rem;
      overflow: hidden;

      img {
        height: 12rem;
      }
    }

    .avatar-text {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      h2 {
        font-size: 2rem;
        color: rgb(217, 159, 15);
        font-family: "La Belle Aurore", "cursive";
      }
      ul {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        color: white;
        li {
          border-bottom: 1px solid white;
          padding-bottom: 5px;
        }
      }
    }

    .navibar-menu {
      ul {
        color: white;

        display: flex;
        flex-direction: column;

        list-style: none;
        font-size: 2rem;
        transform: skewY(-15deg);
        li {
          cursor: pointer;
          width: 250px;
          background-color: black;
          padding: 15px;
          transition: 0.5s;
          position: relative;
          a,
          a:link,
          a:visited {
            color: white;
            text-decoration: none;
          }
          a {
            span {
              position: absolute;
              top: 0;
              left: -40px;
              width: 40px;
              height: 100%;
              background-color: #3e3f46;
              filter: brightness(0.7);
              transform-origin: right;
              transform: skewY(45deg);
              display: flex;
              justify-content: center;
              align-items: center;

              img {
                height: 2rem;
              }
            }
            .navibar-menu-blue {
              color: aqua;
            }
            .navibar-menu-green {
              color: rgb(69, 226, 79);
            }
            .navibar-menu-yellow {
              color: rgb(221, 233, 56);
            }
            .navibar-menu-pink {
              color: rgb(218, 32, 162);
            }
            .navibar-menu-purple {
              color: rgb(175, 51, 224);
            }
          }
        }
        li:hover {
          transform: translateX(50px);
        }
        li::before {
          content: "";
          position: absolute;
          top: 0;
          left: -40px;
          width: 40px;
          height: 100%;
          background-color: #3e3f46;
          filter: brightness(0.7);
          transform-origin: right;
          transform: skewY(45deg);
        }
        li::after {
          content: "";
          position: absolute;
          top: -40px;
          left: 0;
          width: 100%;
          height: 40px;
          background-color: #3e3f46;
          filter: brightness(0.9);
          transform-origin: bottom;
          transform: skewX(45deg);
        }
      }
    }
  }
  .navibar-right {
    width: 22rem;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    right: 0;

    ul {
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: start;

      list-style: none;
      font-size: 2rem;
      height: 100vh;
      width: 100%;
      text-align: center;
      margin-top: 1rem;

      li {
        border-bottom: 2px solid white;
        width: 100%;

        .time {
          font-size: 3rem;
        }
        .Todolist {
          h1 {
            font-size: 2rem;
            font-weight: 400;
            margin-bottom: 1rem;
          }
          .TodoForm {
            width: 100%;
            border-bottom: 2px solid #fff;

            input {
              font-size: 2rem;
              padding: 2px 10px;
              color: rgb(241, 9, 241);
              border: 2px solid rgb(241, 9, 241);
              background-color: transparent;
              margin-bottom: 1rem;
              outline: none;
              width: 100%;
            }
            button {
              font-size: 1.5rem;
              cursor: pointer;
              border: none;
              outline: none;
              color: rgb(241, 9, 241);
              background-color: transparent;
              padding: 0 1rem;
              border-radius: 10px;
              border: 2px solid rgb(241, 9, 241);
              transition: 0.1s;
              margin-bottom: 1rem;
            }
            button:hover {
              background-color: rgb(241, 9, 241);
              color: rgb(28, 2, 28);
            }
          }
          .Todo {
            display: flex;
            justify-content: space-between;
            p {
              margin-left: 5px;
              cursor: pointer;
            }
            .completed {
              position: relative;
              color: rgba(255, 255, 255, 0.5);
            }
            .completed::before {
              content: "";
              position: absolute;
              top: 50%;
              right: 0;
              width: 100%;
              height: 2px;
              background-color: #fff;
            }
            div {
              cursor: pointer;
            }
          }
        }

        .react-calendar__month-view__weekdays {
          color: black;
          .react-calendar__month-view__weekdays__weekday--weekend {
            color: red;
          }
        }
        .weatherbg {
          .weather-title {
            transition: 0.5s;
          }
          .weather-title:hover {
            transform: scale(1.1);
            color: aqua;
          }

          .weatherData {
            h1 {
              margin-top: 1rem;
              text-align: center;
              position: relative;
              .weatherClose {
                width: 50px;
                height: 50px;
                background-color: rgba(255, 255, 255, 0.6);
                display: inline-block;
                position: absolute;
                top: 0;
                right: 5px;
                border-radius: 50%;
                cursor: pointer;
                transition: 0.3s;
              }
              .weatherClose:hover {
                background-color: #fff;
              }
              .weatherClose::before {
                width: 90%;
                height: 5px;
                content: "";
                position: absolute;
                top: 22px;
                right: 2px;
                transform: rotateZ(45deg);
                background-color: rgb(6, 92, 92);
              }
              .weatherClose::after {
                content: "";
                width: 90%;
                height: 5px;
                position: absolute;
                top: 22px;
                right: 2px;
                transform: rotateZ(135deg);
                background-color: rgb(6, 92, 92);
              }
            }
            p {
              margin: 1rem 0;
              font-weight: 300;
            }
          }
        }
      }
      .nba-title p {
        transition: 0.5s;
      }
      .nba-title:hover p {
        transform: scale(1.1);
        color: aqua;
      }
      .mlb-title p {
        transition: 0.5s;
      }
      .mlb-title:hover p {
        transform: scale(1.1);
        color: aqua;
      }

      .loaddingImg {
        img {
          height: 100px;

          animation: loaddingAnimation 3s linear infinite;
        }
      }
      .nbaScoreboard {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          margin-top: 2rem;
        }

        .nbaScore-box {
          height: 100vh;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          overflow: scroll;
          position: relative;

          div {
            height: 100px;
            width: 600px;
            background-color: transparent;
            border-bottom: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
          }
          .nba-close {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 0;
            right: 10%;
            border: none;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
            span {
              position: relative;
              width: 40px;
              height: 5px;
              background-color: rgb(73, 49, 161);
              transform: rotateZ(45deg);
            }
            span::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              height: 5px;
              background-color: rgb(73, 49, 161);
              transform: rotateZ(90deg);
            }
          }
          .nba-close:hover {
            background-color: #fff;
          }
        }
      }
      .mlbScoreboard {
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        display: flex;
        flex-direction: column;
        align-items: center;
        h1 {
          margin-top: 2rem;
        }

        .mlbScore-box {
          height: 100vh;
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          align-items: center;
          gap: 2rem;
          overflow: scroll;
          position: relative;

          div {
            height: 100px;
            width: 600px;
            background-color: transparent;
            border-bottom: 2px solid white;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 2rem;
          }
          .mlb-close {
            position: absolute;
            height: 50px;
            width: 50px;
            top: 0;
            right: 10%;
            border: none;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 50%;
            cursor: pointer;
            transition: 0.5s;
            span {
              position: relative;
              width: 40px;
              height: 5px;
              background-color: rgb(73, 49, 161);
              transform: rotateZ(45deg);
            }
            span::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 40px;
              height: 5px;
              background-color: rgb(73, 49, 161);
              transform: rotateZ(90deg);
            }
          }
          .mlb-close:hover {
            background-color: #fff;
          }
        }
      }
    }
  }
}

@keyframes loaddingAnimation {
  0% {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(90deg);
  }
  50% {
    transform: rotateZ(180deg);
  }
  75% {
    transform: rotateZ(270deg);
  }

  100% {
    transform: rotateZ(360deg);
  }
}
