.skill-bg {
  width: 100%;
  min-height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
  }
  .skill-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;

    gap: 5rem;
    flex-wrap: wrap;
    margin-bottom: 3rem;

    .exprience-box {
      width: 500px;
      display: flex;
      flex-direction: column;
      gap: 5rem;
      align-items: center;
      h1 {
        font-size: 3rem;
        color: rgb(228, 207, 102);
      }
      p {
        font-size: 1rem;
        color: white;
      }
      button {
        font-size: 2rem;
        padding: 1rem 3rem;
        color: white;
        background-color: black;
        border: 2px solid white;
        cursor: pointer;
        transition: 0.5s;
      }
      button:hover {
        letter-spacing: 1.5rem;
        color: aqua;
        border: 2px solid aqua;
        box-shadow: 0 0 5rem aqua;
      }
    }

    .skill-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      h1 {
        font-size: 3rem;
        color: rgb(228, 207, 102);
      }
      h2 {
        font-size: 2rem;
        color: white;
        margin-top: 3rem;
      }

      .skill-html {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          height: 100px;
        }
        .html-circle-container {
          width: 100px;

          border-radius: 8px;
          display: flex;
          justify-content: center;

          .html-circular-progress {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            animation: turnCircle 2s linear forwards;

            display: flex;
            align-items: center;
            justify-content: center;
            .html-progress-value {
              position: relative;
              font-size: 20px;
              font-weight: 600;
              color: rgb(210, 105, 30);
              display: flex;
            }
          }
          .html-circular-progress::before {
            content: "";
            position: absolute;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: black;
          }
        }

        .html-bar-container {
          height: 100px;
          width: 20rem;
          position: relative;
          display: flex;
          align-items: center;
          .html-bar {
            height: 1.5rem;
            width: 20rem;
            background-color: #ededed;
            border-radius: 3rem;
            position: relative;
          }
          .html-bar::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            border-radius: 3rem;
            background-color: rgb(210, 105, 30);
            animation: turnBar 2s linear forwards;
          }
          .html-bar-value {
            font-size: 20px;
            color: rgb(210, 105, 30);
            display: flex;
            position: absolute;
            top: 0;
            left: 85%;
          }
        }
      }

      .skill-css {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          height: 100px;
        }
        .css-circle-container {
          width: 100px;

          border-radius: 8px;
          display: flex;
          justify-content: center;

          .css-circular-progress {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            animation: turnCircletwo 2s linear forwards;

            display: flex;
            align-items: center;
            justify-content: center;
            .css-progress-value {
              position: relative;
              font-size: 20px;
              font-weight: 600;
              color: rgb(30, 102, 210);
              display: flex;
            }
          }
          .css-circular-progress::before {
            content: "";
            position: absolute;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: black;
          }
        }

        .css-bar-container {
          height: 100px;
          width: 20rem;
          position: relative;
          display: flex;
          align-items: center;
          .css-bar {
            height: 1.5rem;
            width: 20rem;
            background-color: #ededed;
            border-radius: 3rem;
            position: relative;
          }
          .css-bar::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            border-radius: 3rem;
            background-color: rgb(30, 102, 210);
            animation: turnBar1 2s linear forwards;
          }
          .css-bar-value {
            font-size: 20px;
            color: rgb(30, 102, 210);
            display: flex;
            position: absolute;
            top: 0;
            left: 75%;
          }
        }
      }
      .skill-js {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          height: 100px;
        }
        .js-circle-container {
          width: 100px;

          border-radius: 8px;
          display: flex;
          justify-content: center;

          .js-circular-progress {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            animation: turnCirclethree 2s linear forwards;

            display: flex;
            align-items: center;
            justify-content: center;
            .js-progress-value {
              position: relative;
              font-size: 20px;
              font-weight: 600;
              color: rgb(210, 165, 30);
              display: flex;
            }
          }
          .js-circular-progress::before {
            content: "";
            position: absolute;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: black;
          }
        }

        .js-bar-container {
          height: 100px;
          width: 20rem;
          position: relative;
          display: flex;
          align-items: center;
          .js-bar {
            height: 1.5rem;
            width: 20rem;
            background-color: #ededed;
            border-radius: 3rem;
            position: relative;
          }
          .js-bar::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            border-radius: 3rem;
            background-color: rgb(210, 165, 30);
            animation: turnBar2 2s linear forwards;
          }
          .js-bar-value {
            font-size: 20px;
            color: rgb(210, 165, 30);
            display: flex;
            position: absolute;
            top: 0;
            left: 65%;
          }
        }
      }

      .skill-react {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          height: 100px;
        }
        .react-circle-container {
          width: 100px;

          border-radius: 8px;
          display: flex;
          justify-content: center;

          .react-circular-progress {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            animation: turnCircle4 2s linear forwards;

            display: flex;
            align-items: center;
            justify-content: center;
            .react-progress-value {
              position: relative;
              font-size: 20px;
              font-weight: 600;
              color: aqua;
              display: flex;
            }
          }
          .react-circular-progress::before {
            content: "";
            position: absolute;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: black;
          }
        }

        .react-bar-container {
          height: 100px;
          width: 20rem;
          position: relative;
          display: flex;
          align-items: center;
          .react-bar {
            height: 1.5rem;
            width: 20rem;
            background-color: #ededed;
            border-radius: 3rem;
            position: relative;
          }
          .react-bar::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            border-radius: 3rem;
            background-color: aqua;
            animation: turnBar1 2s linear forwards;
          }
          .react-bar-value {
            font-size: 20px;
            color: aqua;
            display: flex;
            position: absolute;
            top: 0;
            left: 75%;
          }
        }
      }

      .skill-node {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          height: 100px;
        }
        .node-circle-container {
          width: 100px;

          border-radius: 8px;
          display: flex;
          justify-content: center;

          .node-circular-progress {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            animation: turnCircle5 2s linear forwards;

            display: flex;
            align-items: center;
            justify-content: center;
            .node-progress-value {
              position: relative;
              font-size: 20px;
              font-weight: 600;
              color: rgb(69, 211, 69);
              display: flex;
            }
          }
          .node-circular-progress::before {
            content: "";
            position: absolute;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: black;
          }
        }

        .node-bar-container {
          height: 100px;
          width: 20rem;
          position: relative;
          display: flex;
          align-items: center;
          .node-bar {
            height: 1.5rem;
            width: 20rem;
            background-color: #ededed;
            border-radius: 3rem;
            position: relative;
          }
          .node-bar::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            border-radius: 3rem;
            background-color: rgb(69, 211, 69);
            animation: turnBar3 2s linear forwards;
          }
          .node-bar-value {
            font-size: 20px;
            color: rgb(69, 211, 69);
            display: flex;
            position: absolute;
            top: 0;
            left: 60%;
          }
        }
      }

      .skill-mongo {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        gap: 1rem;

        img {
          width: 100px;
        }
        .mongo-circle-container {
          width: 100px;

          border-radius: 8px;
          display: flex;
          justify-content: center;

          .mongo-circular-progress {
            position: relative;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            animation: turnCircle6 2s linear forwards;

            display: flex;
            align-items: center;
            justify-content: center;
            .mongo-progress-value {
              position: relative;
              font-size: 20px;
              font-weight: 600;
              color: rgb(18, 103, 22);
              display: flex;
            }
          }
          .mongo-circular-progress::before {
            content: "";
            position: absolute;
            height: 70px;
            width: 70px;
            border-radius: 50%;
            background-color: black;
          }
        }

        .mongo-bar-container {
          height: 100px;
          width: 20rem;
          position: relative;
          display: flex;
          align-items: center;
          .mongo-bar {
            height: 1.5rem;
            width: 20rem;
            background-color: #ededed;
            border-radius: 3rem;
            position: relative;
          }
          .mongo-bar::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 0%;
            height: 100%;
            border-radius: 3rem;
            background-color: rgb(18, 103, 22);
            animation: turnBar3 2s linear forwards;
          }
          .mongo-bar-value {
            font-size: 20px;
            color: rgb(18, 103, 22);
            display: flex;
            position: absolute;
            top: 0;
            left: 60%;
          }
        }
      }
    }
  }
}

@keyframes turnCircletwo {
  0% {
    background: conic-gradient(rgb(30, 102, 210) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(30, 102, 210) 72deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(30, 102, 210) 144deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(30, 102, 210) 216deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(30, 102, 210) 288deg, #ededed 0deg);
  }
}
@keyframes turnCircle {
  0% {
    background: conic-gradient(rgb(210, 105, 30) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(210, 105, 30) 81deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(210, 105, 30) 162deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(210, 105, 30) 243deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(210, 105, 30) 324deg, #ededed 0deg);
  }
}
@keyframes turnCirclethree {
  0% {
    background: conic-gradient(rgb(210, 165, 30) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(210, 165, 30) 63deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(210, 165, 30) 126deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(210, 165, 30) 189deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(210, 165, 30) 252deg, #ededed 0deg);
  }
}
@keyframes turnCircle4 {
  0% {
    background: conic-gradient(aqua 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(aqua 72deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(aqua 144deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(aqua 216deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(aqua 288deg, #ededed 0deg);
  }
}
@keyframes turnCircle5 {
  0% {
    background: conic-gradient(rgb(69, 211, 69) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(69, 211, 69) 58.5deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(69, 211, 69) 117deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(69, 211, 69) 175.5deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(69, 211, 69) 234deg, #ededed 0deg);
  }
}
@keyframes turnCircle6 {
  0% {
    background: conic-gradient(rgb(18, 103, 22) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(18, 103, 22) 58.5deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(18, 103, 22) 117deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(18, 103, 22) 175.5deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(18, 103, 22) 234deg, #ededed 0deg);
  }
}

@keyframes turnBar {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}
@keyframes turnBar1 {
  0% {
    width: 0%;
  }
  100% {
    width: 80%;
  }
}
@keyframes turnBar2 {
  0% {
    width: 0%;
  }
  100% {
    width: 70%;
  }
}
@keyframes turnBar3 {
  0% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}
