* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navibar {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
}
.navibar .navibar-left {
  height: 100vh;
  width: 20rem;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navibar .navibar-left .avatarImg {
  height: 10rem;
  width: 10rem;
  border-radius: 5rem;
  overflow: hidden;
  cursor: pointer;
}
.navibar .navibar-left .avatarImg img {
  height: 12rem;
}
.navibar .navibar-left .navibar-menu {
  margin-top: 10rem;
}
.navibar .navibar-left .navibar-menu ul {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  font-size: 2rem;
}
.navibar .navibar-left .navibar-menu ul li {
  cursor: pointer;
}
.navibar .navibar-right {
  width: 20rem;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.navibar .navibar-right ul {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  list-style: none;
  font-size: 2rem;
}
.navibar .navibar-right ul li {
  cursor: pointer;
}

.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage .homepage-left {
  width: 30%;
}
.homepage .homepage-right .homepageImg {
  width: 10rem;
  height: 10rem;
  overflow: hidden;
}
.homepage .homepage-right .homepageImg img {
  height: 11rem;
}

.aboutmepage {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutmepage .aboutme-box .timeline {
  position: relative;
  max-width: 1200px;
  margin: 100px auto;
}
.aboutmepage .aboutme-box .timeline .container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
}
.aboutmepage .aboutme-box .timeline .container img {
  position: absolute;
  width: 40px;
  border-radius: 50%;
  right: -20px;
  top: 32px;
  z-index: 10;
}
.aboutmepage .aboutme-box .timeline .container .text-box {
  padding: 20px 30px;
  background-color: #fff;
  position: relative;
  border-radius: 10px;
  font-size: 15px;
}
.aboutmepage .aboutme-box .timeline .container .text-box h2 {
  font-weight: 500;
}
.aboutmepage .aboutme-box .timeline .container .text-box small {
  display: inline-block;
  margin-bottom: 15px;
}
.aboutmepage .aboutme-box .timeline .container .text-box .left-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid black;
  right: -15px;
}
.aboutmepage .aboutme-box .timeline .container .text-box .right-container-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid black;
  left: -15px;
}
.aboutmepage .aboutme-box .timeline .container:nth-child(1) {
  animation-delay: 0s;
}
.aboutmepage .aboutme-box .timeline .container:nth-child(2) {
  animation-delay: 1s;
}
.aboutmepage .aboutme-box .timeline .container:nth-child(3) {
  animation-delay: 2s;
}
.aboutmepage .aboutme-box .timeline .container:nth-child(4) {
  animation-delay: 3s;
}
.aboutmepage .aboutme-box .timeline .container:nth-child(5) {
  animation-delay: 4s;
}
.aboutmepage .aboutme-box .timeline .container:nth-child(6) {
  animation-delay: 5s;
}
.aboutmepage .aboutme-box .timeline .left-container {
  left: 0;
}
.aboutmepage .aboutme-box .timeline .right-container {
  left: 50%;
}
.aboutmepage .aboutme-box .timeline .right-container img {
  left: -20px;
}
.aboutmepage .aboutme-box .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: black;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
  animation: moveline 6s linear forwards;
}

@keyframes moveline {
  0% {
    height: 0;
  }
  100% {
    height: 100%;
  }
}
@keyframes movedown {
  0% {
    opacity: 1;
    transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@media screen and (max-width: 1800px) {
  .timeline {
    margin: 50px auto !important;
  }
  .timeline .container {
    width: 50% !important;
    padding-left: 80px !important;
    padding-right: 25px !important;
  }
  .timeline .right-container {
    left: 0 !important;
  }
  .timeline .right-container img {
    left: 10px !important;
  }
  .timeline .right-container .right-container-arrow {
    border-right: 15px solid black !important;
    border-left: 0 !important;
    left: -15px !important;
  }
  .timeline .left-container img {
    left: 10px !important;
  }
  .timeline .left-container .left-container-arrow {
    border-right: 15px solid black !important;
    border-left: 0 !important;
    left: -15px !important;
  }
  .timeline::after {
    left: 31px !important;
  }
}
.skill-bg {
  width: 100%;
  height: 100vh;
  background-color: black;
}
.skill-bg .skill-box {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.skill-bg .skill-box .skill-html {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-bg .skill-box .skill-html img {
  height: 100px;
}
.skill-bg .skill-box .skill-html .html-circle-container {
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.skill-bg .skill-box .skill-html .html-circle-container .html-circular-progress {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation: turnCircle 2s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-bg .skill-box .skill-html .html-circle-container .html-circular-progress .html-progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: rgb(210, 105, 30);
  display: flex;
}
.skill-bg .skill-box .skill-html .html-circle-container .html-circular-progress::before {
  content: "";
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: black;
}
.skill-bg .skill-box .skill-html .html-bar-container {
  height: 10rem;
  width: 50rem;
  position: relative;
  display: flex;
  align-items: center;
}
.skill-bg .skill-box .skill-html .html-bar-container .html-bar {
  height: 2rem;
  width: 50rem;
  background-color: #ededed;
  border-radius: 3rem;
  position: relative;
}
.skill-bg .skill-box .skill-html .html-bar-container .html-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 3rem;
  background-color: rgb(210, 105, 30);
  animation: turnBar 2s linear forwards;
}
.skill-bg .skill-box .skill-html .html-bar-container .html-bar-value {
  font-size: 35px;
  color: rgb(210, 105, 30);
  display: flex;
  position: absolute;
  top: 0;
  left: 80%;
}
.skill-bg .skill-box .skill-css {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-bg .skill-box .skill-css img {
  height: 100px;
}
.skill-bg .skill-box .skill-css .css-circle-container {
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.skill-bg .skill-box .skill-css .css-circle-container .css-circular-progress {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation: turnCircletwo 2s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-bg .skill-box .skill-css .css-circle-container .css-circular-progress .css-progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: rgb(30, 102, 210);
  display: flex;
}
.skill-bg .skill-box .skill-css .css-circle-container .css-circular-progress::before {
  content: "";
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: black;
}
.skill-bg .skill-box .skill-css .css-bar-container {
  height: 10rem;
  width: 50rem;
  position: relative;
  display: flex;
  align-items: center;
}
.skill-bg .skill-box .skill-css .css-bar-container .css-bar {
  height: 2rem;
  width: 50rem;
  background-color: #ededed;
  border-radius: 3rem;
  position: relative;
}
.skill-bg .skill-box .skill-css .css-bar-container .css-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 3rem;
  background-color: rgb(30, 102, 210);
  animation: turnBar 2s linear forwards;
}
.skill-bg .skill-box .skill-css .css-bar-container .css-bar-value {
  font-size: 35px;
  color: rgb(30, 102, 210);
  display: flex;
  position: absolute;
  top: 0;
  left: 80%;
}
.skill-bg .skill-box .skill-js {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-bg .skill-box .skill-js img {
  height: 100px;
}
.skill-bg .skill-box .skill-js .js-circle-container {
  width: 420px;
  padding: 50px 0;
  border-radius: 8px;
  display: flex;
  justify-content: center;
}
.skill-bg .skill-box .skill-js .js-circle-container .js-circular-progress {
  position: relative;
  height: 200px;
  width: 200px;
  border-radius: 50%;
  animation: turnCirclethree 2s linear forwards;
  display: flex;
  align-items: center;
  justify-content: center;
}
.skill-bg .skill-box .skill-js .js-circle-container .js-circular-progress .js-progress-value {
  position: relative;
  font-size: 40px;
  font-weight: 600;
  color: rgb(210, 165, 30);
  display: flex;
}
.skill-bg .skill-box .skill-js .js-circle-container .js-circular-progress::before {
  content: "";
  position: absolute;
  height: 170px;
  width: 170px;
  border-radius: 50%;
  background-color: black;
}
.skill-bg .skill-box .skill-js .js-bar-container {
  height: 10rem;
  width: 50rem;
  position: relative;
  display: flex;
  align-items: center;
}
.skill-bg .skill-box .skill-js .js-bar-container .js-bar {
  height: 2rem;
  width: 50rem;
  background-color: #ededed;
  border-radius: 3rem;
  position: relative;
}
.skill-bg .skill-box .skill-js .js-bar-container .js-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  border-radius: 3rem;
  background-color: rgb(210, 165, 30);
  animation: turnBar 2s linear forwards;
}
.skill-bg .skill-box .skill-js .js-bar-container .js-bar-value {
  font-size: 35px;
  color: rgb(210, 165, 30);
  display: flex;
  position: absolute;
  top: 0;
  left: 80%;
}

@keyframes turnCircletwo {
  0% {
    background: conic-gradient(rgb(30, 102, 210) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(30, 102, 210) 76.5deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(30, 102, 210) 153deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(30, 102, 210) 229.5deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(30, 102, 210) 306deg, #ededed 0deg);
  }
}
@keyframes turnCircle {
  0% {
    background: conic-gradient(rgb(210, 105, 30) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(210, 105, 30) 76.5deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(210, 105, 30) 153deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(210, 105, 30) 229.5deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(210, 105, 30) 306deg, #ededed 0deg);
  }
}
@keyframes turnCirclethree {
  0% {
    background: conic-gradient(rgb(210, 165, 30) 0deg, #ededed 0deg);
  }
  25% {
    background: conic-gradient(rgb(210, 165, 30) 76.5deg, #ededed 0deg);
  }
  50% {
    background: conic-gradient(rgb(210, 165, 30) 153deg, #ededed 0deg);
  }
  75% {
    background: conic-gradient(rgb(210, 165, 30) 229.5deg, #ededed 0deg);
  }
  100% {
    background: conic-gradient(rgb(210, 165, 30) 306deg, #ededed 0deg);
  }
}
@keyframes turnBar {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}
.portfolio-bg {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.portfolio-bg .portfolio-box {
  width: 1800px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15rem;
}
.portfolio-bg .portfolio-box .portfolio-card {
  background-color: white;
  width: 300px;
  height: 300px;
  cursor: pointer;
}
.portfolio-bg .portfolio-box .portfolio-card .portfolioImg01 {
  background-image: url(../img/portfolio01.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.portfolio-bg .portfolio-box .portfolio-card .portfolioImg02 {
  background-image: url(../img/portfolio02.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.portfolio-bg .portfolio-box .portfolio-card .portfolioImg03 {
  background-image: url(../img/portfolio03.png);
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
}
.portfolio-bg .portfolio-box .card-1 {
  border: 3px solid rgb(58, 226, 229);
  box-shadow: 0 0 3rem rgb(58, 226, 229);
  position: relative;
}
.portfolio-bg .portfolio-box .card-1::before {
  content: "";
  position: absolute;
  background-color: rgb(58, 226, 229);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5em) rotateX(40deg) scale(1, 0.3);
  filter: blur(3em);
}
.portfolio-bg .portfolio-box .card-2 {
  border: 3px solid rgb(217, 101, 211);
  box-shadow: 0 0 3rem rgb(217, 101, 211);
  position: relative;
}
.portfolio-bg .portfolio-box .card-2::before {
  content: "";
  position: absolute;
  background-color: rgb(217, 101, 211);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5em) rotateX(40deg) scale(1, 0.3);
  filter: blur(3em);
}
.portfolio-bg .portfolio-box .card-3 {
  border: 3px solid rgb(229, 169, 58);
  box-shadow: 0 0 3rem rgb(229, 169, 58);
  position: relative;
}
.portfolio-bg .portfolio-box .card-3::before {
  content: "";
  position: absolute;
  background-color: rgb(229, 169, 58);
  top: 100%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: perspective(5em) rotateX(40deg) scale(1, 0.3);
  filter: blur(3em);
}/*# sourceMappingURL=style.css.map */