* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "../styles/navi";
@import "../styles/homepage";
@import "../styles/aboutpage";
@import "../styles/skillpage";
@import "../styles/portfoliopage";
@import "../styles/contactmepage";
